[submodule "api"]
	path = api
	url = git@github.com:polonair/dialtime-api.git
[submodule "builder"]
	path = builder
	url = git@github.com:polonair/dialtime-builder.git
[submodule "common"]
	path = common
	url = git@github.com:polonair/dialtime-common.git
[submodule "dialtime"]
	path = dialtime
	url = git@github.com:polonair/dialtime.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:polonair/dialtime-frontend.git
[submodule "gate"]
	path = gate
	url = git@github.com:polonair/dialtime-gate.git
[submodule "model"]
	path = model
	url = git@github.com:polonair/dialtime-model.git
[submodule "server"]
	path = server
	url = git@github.com:polonair/dialtime-server.git
[submodule "smsi"]
	path = smsi
	url = git@github.com:polonair/smsi.git
[submodule "doc"]
	path = doc
	url = git@github.com:polonair/targetcall.wiki.git
